!!! 5
%html
%head
  %title Picture Gallery

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = csrf_meta_tags 

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to 'Picture Gallery', root_path

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'New Picture', new_picture_path
          %li= link_to 'Account', edit_user_registration_path
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path

  .container
    .row
      .col-md-8
        - flash.each do |name, msg|
          = content_tag :div, msg, class: 'alert alert-info'

        = yield
      .col-md-4
        %ul
          %li= link_to 'All foods', root_path, class: 'list-group-item'

          - Menu.all.each do |menu|
            %li= link_to menu.name, pictures_path(menu: menu.name), class: 'list-group-item'